@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #dbdadac7;
}
.navbar {
    background-color: #af4820;
}
#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #af4820;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}
.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: "Bangers", system-ui;
}

#animetube,
#genero {
    background-color: #d46f6f;
}

.text-colored {
    color: #af4820;
}

.nav-genero .nav-link.active,
#fale-conosco button {
    background-color: #272626;
    color: #fff;
}
.nav-genero .nav-link:hover {
    color: #ffffff;
}
.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}
